bin/
lib/
doxygen/
build-env.log
src/make/Make.config
src/make/Make.config_no_paths
src/Framework/Conventions/GBuild.h
src/Framework/Conventions/GVersion.h
src/Physics/BeamHNL/
src/contrib/beamhnl/
config/CommonHNL.xml
src/Apps/gBeamHNLEvGen.cxx
*.root
*.gdml
*.org
*.tar.gz
*.tgz
*.o
*.so
*.d
*.pcm
*.bak
*~
*.rootmap
*_ROOT_DICT_*
*.swp
